<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/weather">Weather App</a>
      <a class="navbar-brand" href="/about">About</a>
      <a class="navbar-brand" href="/twitter">Twitter</a>
      <a class="navbar-brand" href="/contact">Contact</a>
    </div>
  </div>
</nav>