<!DOCTYPE html>
<html>
  <head>
    <title>Weather Forecast</title>
	<link rel="stylesheet" type= "text/css" href ="style.css" />
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
				</head>
  <body>
  	<%= render 'shared/navigation' %>
    <%= yield %>

  </body>
</html>
